body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #4acfbc;
}

header {
    background-color: #23527c;
    color: #fff;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img#profilePicture {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

section#map {
    flex: 1;
    width: 80%;
    height: 500px;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 15px;
    overflow: hidden;
}

section#controls {
    text-align: center;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

select {
    margin-bottom: 10px;
}

#availability {
    font-size: 16px;
    color: #333;
    margin-left: 10px;
}

button#rentButton {
    margin-top: 10px;
}

#rentalStatus {
    margin-top: 10px;
}

#timer {
    font-size: 16px;
    color: #333;
    margin-right: 10px;
}

#returnButton {
    margin-left: 10px;
}

footer {
    flex-shrink: 0;
    background-color: #817daf;
    color: #fff;
    padding: 10px;
    text-align: center;
}

footer nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
}

footer a {
    text-decoration: none;
    color: #fff;
    padding: 0 20px;
    position: relative;
}

footer a:hover {
    color: #ddd;
}

#stats-nav {
    text-align: center;
    margin: 20px auto;
}

#stats-nav nav a {
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
    margin: 0 5px;
    background-color: #23527c;
}

#stats-nav nav a:hover {
    background-color: #1e3a5a;
}

#stats-display {
    width: 80%;
    margin: 20px auto;
}

#stats-title {
    text-align: left;
    font-size: 24px;
    margin: 0 0 10px 20px;
}

#stats-content {
    width: calc(100% - 40px);
    height: 500px;
    border: 1px solid #ccc;
    border-radius: 15px;
    overflow: hidden;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    background-color: #fff;
}
