body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

form {
    display: flex;
    justify-content: left;
    width: 100%;
    gap: 10px;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button{
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    width: 30%;
    height: 35px;
}

button:hover {
    background-color: #45a049;
}

button:active {
    background-color: #45a049;
    box-shadow: 0 1px #666;
    transform: translateY(1px);
}

.userDetails {
    display: flex;
    justify-content: left;
    margin-bottom: 10px;
}

.userPicture {
    width: 20%;
    height: 10%;
    border-radius: 50%;
}

.userPicture:hover {
    cursor: pointer;
}

.mapContainer {
    width: 100%;
    height: 400px;
    background-color: #ccc;
    margin-bottom: 10px;
}


.bottonNav {
    padding: 20px;
    overflow: hidden;
    background-color: rgb(255, 255, 255)
  }
  
  .bottonNav a {
    float: center;
    color: #000000;
    text-align: center;
    padding: 8px 10px;
    text-decoration: none;
    font-size: 16px;
  }
  
  .bottonNav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .bottonNav a.active {
    background-color: #4CAF50;
    color: white;
  }