body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--background-color);
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    max-width: 400px;
    width: 100%;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input,
button,
select {
    width: 90%;
}


.input-container {
    position: relative;
    width: 100%;
}

.input-container input {
    padding-right: 30px;
    margin-top: 15px;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.6rem;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;

}

button[type="submit"]:hover {
    background-color: #45a049;
}

.signin {
    text-align: center;
    margin-top: 20px;
}

.signin button {
    background-color: transparent;
    color: var(--primary-color);
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.signin button:hover {
    text-decoration: underline;
}

/* Popup styling */
.popup {
    display: none;

    /* Initially hide the popup */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%);

    /* Semi-transparent background */
    z-index: 1000;

    /* Ensure it appears above other content */
}

.popup-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 5px;
    position: relative;
    box-shadow: 0 5px 15px rgb(0 0 0 / 30%);

    /* Adds a shadow to make the popup stand out */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

/* Create Account Next */

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}


@media (width <=600px) {
    .container {
        padding: 20px;
        /* Padding inside the container */
        margin: 0 15px;
        /* Space on the sides */
    }

}