body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    max-width: 400px;
    width: 100%;
    height: 100%;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

form {
    display: flex;
    justify-content: left;
    width: 100%;
    gap: 10px;
}

input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button{
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    width: 30%;
    height: fit-content;
}


#nav-btn{
    margin: 20px;
}

button:hover {
    background-color: #45a049;
}

button:active {
    background-color: #45a049;
    box-shadow: 0 1px #666;
    transform: translateY(1px);
}

.user-details {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
}

.user-picture {
    width: 30%;
}

.user-picture:hover {
    cursor: pointer;
}

.map-container {
    width: 100%;
    height: 400px;
    margin-bottom: 10px;
    overflow: visible;
}


.botton-nav {
    padding: 20px;
    overflow: hidden;
    background-color: rgb(255 255 255)
  }
  
  .botton-nav a {
    float: center;
    color: #000;
    text-align: center;
    padding: 8px 10px;
    text-decoration: none;
    font-size: 16px;
  }
  
  .botton-nav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .botton-nav a.active {
    background-color: #4CAF50;
    color: white;
  }

  .custom-marker{
    background-color: #4285F4;
    color: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 12px;
  }

  #map {
    height: 100%;
    width: 100%;
  }