body {
    background-color: white;
    margin: 0;
    padding: 0;
    height: fit-content;
    font-family: Roboto, sans-serif;
}

.container {
    height: 45vw;
}

.curved-header {
    width: 100%;
    height: 35vw;
    background-color: #747BDC;
    position: relative;
    border-bottom-left-radius: 100% 50px;
    border-bottom-right-radius: 100% 50px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.curved-header h1 {
    margin: 0;
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    color: white;
    padding-bottom: 20px;
}

.profile-image {
    width: 100px;
    height: 100px;
    top: 23vw;
    left: 50%;
    border-radius: 50%;
    position: absolute;
    transform: translateX(-50%);
    z-index: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.rows {
    display: grid;
    padding: 5px 15px;
}

.rows h3 {
    margin: 0;
    padding-bottom: 10px;
}

.sub-row {
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    border: 1px solid black;
    border-radius: 8px;
    padding: 0;
    height: 30%;
    margin: 0;
}

.sub-row:hover {
    box-shadow: 0 0 100px #817dae;
}

.sub-row p {
    font-size: 16px;
    padding-left: 20px;
    color: black;
}

.wheelchair {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.checkboxcontainer {
    display: inline-flex;
    padding: 20px;
}

.switch {
    margin-left: 10px;
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
}

.switch input {
    display: none;
}

.slider {
    background-color: #ccc;
    inset: 0;
    cursor: pointer;
    position: absolute;
    transition: .4s;
}

.slider::before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
}

input:checked + .slider {
    background-color: #66bb6a;
}

input:checked + .slider::before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 30px;
}

.slider.round::before {
    border-radius: 50%;
}

.logout-delete-container {
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

button {
    font-size: 16px;
    padding: 1rem;
    border-radius: 10px;
    background-color: #23527c;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #1a3f5f;
}


