* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main-margin: 2rem;
}

body {
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 70px);
    font-family: Roboto, sans-serif;
}

p{
    font-size: 16px;
}

/* MAIN */

.main {
    width: 100vw;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem 0 1rem ;
    flex: 1;
}

.map-container {
    width: 100%;
    height: 70%;
    border: 2px solid black;
    border-radius: 1rem;
}


.check-and-vehicle-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.4rem;
    padding: 1rem;
    align-items: center;
    justify-content:left;
}

.check-and-vehicle {
    /* border-radius: 1rem; */
    /* border: 1px solid black; */
    padding: 0.4rem;
    display: flex;
    align-items: center;

    /* justify-content: center; */
    gap: 1rem;
}

.check {
    width: 6vw;
    height: 6vw;
    /* border-radius: 50%; */
    border: 1px solid black;
}

/* draw a tick */

.checked {
    background-color: blue
}

/* SIDE NAVIGATION */

/*
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.nav-and-content {
    display: flex;
    flex: 1;
}


.side-nav {
    padding-block: 4rem;
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #23527c;
}

.side-nav-a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;

    border-radius: 1rem;
    padding: 0.5rem;
    background-color: #e0dddd;
    width: 100%;
}

.side-nav-a:any-link {
    text-decoration: none;
    color: black;
}

.side-nav-a img {
    width: 60px;
    height: 60px;
}

.main {
    display: flex;
    flex-direction: column;
    flex: 1;
}

*/