body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #4acfbc;
}

header {
    background-color: #23527c;
    color: #fff;
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img#profile-picture {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

section#map {
    flex: 1;
    width: 80%;
    height: 500px;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 15px;
    overflow: hidden;
}

section#controls {
    text-align: center;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

select {
    margin-bottom: 10px;
}

#availability {
    font-size: 16px;
    color: #333;
    margin-left: 10px;
}

button#rent-button {
    margin-top: 10px;
}

#rental-status {
    margin-top: 10px;
}

#timer {
    font-size: 16px;
    color: #333;
    margin-right: 10px;
}

#return-button {
    margin-left: 10px;
}

footer {
    flex-shrink: 0;
    background-color: #817daf;
    color: #fff;
    padding: 10px;
    text-align: center;
}



#stats-display {
    width: 80%;
    margin: 20px auto;
}

#stats-title {
    text-align: left;
    font-size: 24px;
    margin: 0 0 10px 20px;
}

#stats-content {
    width: calc(100% - 40px);
    height: 500px;
    border: 1px solid #ccc;
    border-radius: 15px;
    overflow: hidden;
    padding: 20px;
    box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
    position: relative;
    background-color: #fff;
}
