body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column; /* Ensure body content flows vertically */
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-y: auto; /* Change to auto for better scrolling */
}

/* header {
    background-color: #23527c;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; 
    box-sizing: border-box; 
    font-size: 24px;
}

header img#profile-picture {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-right: 15px;
} */

section#map {
    width: 90%;
    max-width: 800px;
    height: 50vh;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 15px;
    overflow: hidden;
}

section#controls {
    text-align: center;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%; /* Ensure controls section is the same width as the map */
    max-width: 800px;
}

#availability {
    font-size: 18px;
    color: #333;
    margin-bottom: 15px; /* Ensure space between elements */
}

.button-group {
    display: flex;
    gap: 10px; /* Space between buttons */
    margin-bottom: 15px; /* Space below button group */
}

button#rent-button,
button#return-button,
button#cancel-button {
    font-size: 18px;
    padding: 10px 20px;
}

#rental-status-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

#rental-status {
    font-size: 18px;
}

#timer {
    font-size: 18px;
    color: #333;
    margin-right: 10px;
}

@media (width <= 768px) {
    header {
        text-align: center;
    }

    header img#profile-picture {
        margin: 0 auto 15px;
    }

    .navbar img {
        width: 24px;
        height: 24px;
    }

    .navbar a .text {
        font-size: 12px;
    }
}

@media (width <= 480px) {
    header h1 {
        font-size: 1.5rem;
    }

    .navbar a .text {
        font-size: 10px;
    }
}

