/* Basic styling for the rental page */
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column; /* Ensure body content flows vertically */

    /* align-items: center; */

 /* This would be good for if the map is a different size */
    height: 100vh;
    margin: 0;
    padding: 0;
    font-size: 16px;
    overflow: hidden;
}

/* Header Section */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #4a4a4a;
    color: white;
}

.title {
    font-size: 24px;
}

.header img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

/* Map Section */
#map-container {
    width: 90%;
    max-width: 1900px;
    margin: 20px auto; /* Centers the box */
    border: 2px solid #000; /* Adds a border */
    border-radius: 15px; /* Rounds the corners */
    overflow: hidden; /* Ensures child elements don't overflow the box */
    box-shadow: 0 2px 5px rgb(0 0 0 / 10%); /* Adds a subtle shadow */
}

#map {
    height: 50vh; /* Set the height of the map */
}

/* Controls Section */
#controls {
    width: 80%;
    padding: 10px;
    background-color: #f0f0f0;
    margin: 20px auto;
}

select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
}

/* Button Group for Rent/Cancel/Return */
.button-group {
    display: flex;
    justify-content: space-between;
}

button#rent-button {
    background-color: #4CAF50;
    color: white;
    border: none;
}

button#return-button {
    background-color: #f44336;
    color: white;
    border: none;
}

button#cancel-button {
    background-color: #777;
    color: white;
    border: none;
}

/* Rental Status */
#rental-status-container {
    margin-top: 10px;
    display: none;
    font-size: 18px;
    text-align: center;
}

#timer {
    font-weight: bold;
}

/* 
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #4a4a4a;
    padding: 10px 0;
}

.navbar a {
    text-align: center;
    color: #bbb;
    text-decoration: none;
    flex: 1;
}

.navbar a img {
    width: 30px;
    height: 30px;
    display: block;
    margin: 0 auto;
}

.navbar a .text {
    margin-top: 5px;
}

.navbar a:nth-child(2) {
    color: #6a0dad;
} */
