body {
    background-color: #747BDC;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-height: 100vh;
    margin: 0;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.logo-thing {
    display: flex;
    align-items: center;
    margin-top: -50px;
    animation: pulse 1.2s ease-in-out infinite;
    animation-delay: 1s;
}

h1 {
    color: white;
    font-size: 3.5rem;
    margin-left: 15px;
}

img {
    max-width: 170px;
    height: auto;
    animation: dropAndBounce 1s ease-out;
}

.bottom {
    background-color: white;
    width: 100%;
    max-width: 100vw;
    height: 10vw;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top-left-radius: 100% 50px;
    border-top-right-radius: 100% 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slogan {
    color: black;
    font-size: 1.5rem;
    font-weight: 500;
}

/* Animations */
@keyframes dropAndBounce {
    0% {
        transform: translateY(-200px);
    }

    60% {
        transform: translateY(20px);
    }

    80% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes disappear {
    0% {
        clip-path: circle(0% at center);
    }

    40% {
        clip-path: circle(40% at center);
    }

    60% {
        clip-path: circle(60% at center);
        transform: scale(1);
    }

    100% {
        clip-path: circle(150% at center);
        transform: scale(1.2);
    }
}

@keyframes pulse {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }
}

/* Disappearing effect */
body::before,
body::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    clip-path: circle(0% at center);

    /* animation: disappear 1.5s cubic-bezier(0.25, 1, 0.3, 1) forwards; */
    animation-delay: 2s;
}

body::before {
    background-color: rgb(255 255 255 / 70%);
    animation-delay: 1.8s;
}

/* Media Queries */

/* Phones */
@media (width <=600px) {
    .logo-thing {
        flex-direction: row;
    }

    h1 {
        font-size: 2rem;
        margin-left: 5px;
    }

    img {
        max-width: 100px;
        max-height: 20vh;
    }

    .bottom {
        height: 15vh;
        border-top-left-radius: 100% 50px;
        border-top-right-radius: 100% 50px;
    }

    .slogan {
        font-size: 1rem;
        word-wrap: break-word;
        padding: 0 5px;
        margin-bottom: 25px;
    }
}

/* Tablets */
@media (width >=601px) and (width <=1024px) {
    .logo-thing {
        margin-top: -20px;
    }

    h1 {
        font-size: 3rem;
    }

    img {
        max-width: 200px;
    }

    .bottom {
        height: 110px;
    }

    .slogan {
        font-size: 1.3rem;
    }
}

/* Laptops and Desktops */
@media (width >=1025px) {
    .logo-thing {
        margin-top: -50px;
    }

    h1 {
        font-size: 3.5rem;
    }

    img {
        max-width: 170px;
    }

    .bottom {
        height: 100px;
    }

    .slogan {
        font-size: 1.25rem;
    }
}